.products_list_section {
  padding: 10px;
  padding-left: 30px;
  position: relative;
}

.products_list_header {
  justify-content: space-between;
}

.products_list_header h2 {
  font-size: 26px;
}

.products_sorting {
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  height: 35px;
  padding: 0 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.coming_soon_overlayy {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  z-index: 1;
}
@media (min-width: 1024px) {
  .products_list {
    justify-content: space-between;
  }
}
@media (min-width: 2000px) {
  .products_list_section {
    max-width: 1920px;
  }
}
@media screen and (max-width: 768px) {
  .products_list_header {
    padding-top: 1rem;
  }
  .products_list_header h2 {
    font-size: 20px;
  }
  .products_list_section {
    max-width: 100%;
  }
}
