.contact {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0;
  background-color: #fff;
}
.contact-left {
  display: flex;
  padding-top: 30px;
}
.contact-right{
  width: 400px;
}
.contact-right img {
  width: 400px;
}
.address {
  width: 200px;
}
.contact P {
  padding: 5px 0 10px;
}
.right {
  padding-left: 30px;
  padding-right: 30px;
}
.contact-map {
  text-decoration: underline;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .contact {
    padding-top: 30rem;
    flex-direction: column;
  }
  .contact h3 {
    text-align: center;
  }
  .contact-right{
    width: 200px;
  }
  .contact-right img {
    width: 300px;
  }
  .right {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }
  .address {
    width: 0px;
  }
}
